#img_1{
    background-image: url(images/1.jpg);
}

#img_2{
    background-image: url(images/2.jpg);
}

#img_3{
    background-image: url(images/3.jpg);
}

#img_4{
    background-image: url(images/4.jpg);
}

#img_5{
    background-image: url(images/5.jpg);
}

#img_6{
    background-image: url(images/6.jpg);
}

#img_7{
    background-image: url(images/7.jpg);
}

#img_8{
    background-image: url(images/8.jpg);
}
